*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
/doc/images/algostate_1.png
/doc/images/algostate_2.png
/doc/images/algostate_3.png
/doc/images/algostate_4.png
/doc/#master_thesis_steven_kutsch.tex#
